# Python binaries
*.py[co]
__pycache__

# Python build and distributions
/build/
/dist/
*.egg-info/
*.dist-info/

# Testing files
.coverage
work/
/test/junit.xml
/test/log.json

# Autosaves and such
*.asv
*.swp
~*
*~
*#


# Python/C binaries
*.o
*.so

# Sandbox foloders
/sandbox/
/scratch/

# Releases
/release/*.gz
/release/*.zip

# Documentation builds
/doc/_build
